{%extends 'base_form.html'%}
<!-- {% block content %}
<form method="POST">
    {{user.as_p}}
    <button type="Submit"class="btn btn-success">{%csrf_token%}
      Save
    </button>

</form>
{%endblock%} -->
{% load crispy_forms_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <h4><a href="/users">Users</a></h4>
 </nav>
 
 
<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class=" border-right text-light" style="background-color:rgb(53, 52, 52);" id="sidebar-wrapper">
      <div class="sidebar-heading">Welcome Our admin</div>
      <div class="list-group list-group-flush ">
        <a href="users" class="list-group-item list-group-item-action ">Users</a>
        <div>
            <button type="button" class="btn btn-primary" style="background-color: skyblue;"><a href="addUser">Add User</a></button>
           </div>
        <a href="posts" class="list-group-item list-group-item-action ">Posts</a>
        <a href="cats" class="list-group-item list-group-item-action ">Categories</a>
        <a href="words" class="list-group-item list-group-item-action ">Forbidens</a>
        <!-- <a href="notes" class="list-group-item list-group-item-action ">Notifications</a> -->
      </div>
    </div>
  <div>
  <form method="post" novalidate>
    {{user.as_p}}
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ user.username|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ user.email|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ user.password|as_crispy_field }}
      </div>
    </div>
    <button type="Submit" class="btn btn-success">Save</button>
  </form>
  </div>
  </div>
</body>
